.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
.Renviron
.Rprofile
.Rbuildignore
*.Rcheck/
renv/library/
renv/staging/
input/
*.tif
*.tiff
*.zip
*.adf
*.rds
*.7z
*.gz


Factor_Analysis/
covariates/
study_site/
output/
redaction/
other_files/
Journal_Agronomy for Sustainable Development/
Johannes/
Factor_Analysis/