.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
.Renviron
.Rprofile
.Rbuildignore
*.Rcheck/
renv/library/
renv/staging/
input/
*.tif
*.tiff
*.zip
*.adf
*.rds
*.7z
*.gz
*.Rproj
RAP_Drivers.Rproj
file_out_fig5.R
lib_rap_drivers.enl
login.txt
potential small-study effects by plotting ES against study sample size.R


Factor_Analysis/
covariates/
study_site/
output/
redaction/
other_files/
Journal_Agronomy for Sustainable Development/
Johannes/
script_git/
output1/
script/